@import url(tokens.css);
@import url(semantic.css);
@import "tailwindcss"; /*Esta linea debe quedar al final para que funcione*/

@theme{

    /* ====== BRAND ====== */

    --color-brand: var(--semantic-brand);
    --color-brand-hover: var(--semantic-brand-hover);
    --color-brand-soft: var(--semantic-brand-soft);
    --color-brand-soft-hover: var(--semantic-brand-soft-hover);

    /*Para botones*/
    --color-brand-button: var(--semantic-brand-button);
    --color-brand-button-hover: var(--semantic-brand-button-hover);


    /* ====== BACKGROUND ====== */

    --color-background: var(--semantic-background);
        --color-background-coffe:var(--semanmtic-bakground-coffe);
    --color-surface: var(--semantic-surface);
    --color-surface-muted: var(--semantic-surface-muted);
    --color-background-inverse: var(--semantic-background-inverse);

    /* ====== TEXT ====== */

    --color-text-primary: var(--semantic-text-primary);
    --color-text-secondary: var(--semantic-text-secondary);
    --color-text-muted: var(--semantic-text-muted);
    --color-text-inverse: var(--semantic-text-inverse);

    /* ======= BORDER ======= */

    --color-border: var(--semantic-border);
    --color-border-strong: var(--semantic-border-strong);

    /* ====== FOCUS ====== */

    --color-focus-ring: var(--semantic-focus-ring);
    --color-focus-border: var(--semantic-focus-border);

    /* ====== STATE ====== */

    --color-success: var(--semantic-success);
    --color-warning: var(--semantic-warning);
    --color-error: var(--semantic-error);

    /* ======= TYPOGRAPHY ======= */

    --text-display: var(--semantic-font-size-display);
    --text-h1: var(--semantic-font-size-h1);
    --text-title: var(--semantic-font-size-h2);
    --text-subtitle: var(--semantic-font-size-h3);
    --text-body: var(--semantic-font-size-body);
    --text-medium: var(--semantic-font-size-medium);
    --text-small: var(--semantic-font-size-small);
    --text-caption: var(--semantic-font-size-caption);

    /* ====== FONT WEIGHT ====== */

    --font-heading: var(--semantic-font-weight-heading);
    --font-body: var(--semantic-font-weight-body);
    --font-label: var(--semantic-font-weigth-label);









}